.btn-ghost {
  width: 100%;
  height: 40px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
}


.btn-photo {
  width: 50%;
  height: 40px;
  color: white;
  background-color: #A76571;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  margin: 20px;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
}


